---
---

@import "{{ site.theme }}";

header {
  width: 320px;
}

section {
  width: 580px;
}

header img {
  width: 305px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 18px;
}
